/* BETTER TYPING AREA */
.typing_b88801 {
  top: calc(0px - var(--space-24));
  left: 0 !important;
  padding-left: var(--space-16);
  background: none;
}

.visual-refresh .channelTextArea__74017 {
  border: 2px solid var(--gradient-color1);
  background: var(--card-shading);
  margin-bottom: var(--space-xs);
  border-radius: 30px;
}

.visual-refresh .channelTextArea__74017:focus-within {
  border: 2px solid var(--gradient-color2);
}

/* GRADIENT SELECTED DMS AND SERVER CHANNELS */
.privateChannels__35e86 .channel__972a0 .interactive__972a0.interactiveSelected__972a0:before,
.wrapper__2ea32.modeSelected__2ea32 {
  background: linear-gradient(130deg, var(--gradient-color1), var(--gradient-color2)) !important;
  border-radius: 5px;
}

/* CUSTOMISE PANEL DARKNESS AND BORDERS */

/* MAIN CHAT AREA */
.visual-refresh .page_c48ade {
    background: rgba(0,0,0,0.3);
    border-radius: 0px;
    border-left: var(--border-1px)  !important;
    border-top: var(--border-1px) !important;
}

/* WINDOWS TOP BAR */
.title_c38106 {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  height: 2.9vh;
}

/* MEMBER LIST */
.visual-refresh .container_c8ffbb {
  border-left: var(--border-1px) !important;
}

/* TOP OF CHAT AREA + MEMBER LIST */
.content_f75fb0 {
  border-top: var(--border-1px) !important;
}

/* USER PROFILE POPOUT IN DMS */
.outer_c0bea0 {
  border-left: var(--border-1px) !important
}

/* FRIENDS PAGE */
.nowPlayingColumn__133bf {
  border-left: var(--border-1px) !important;
  border-top: var(--border-1px) !important;
}

.visual-refresh .tabBody_133bf {
  border-top: var(--border-1px) !important;
}

/* DMS AND SERVER CHANNELS PANEL */
.visual-refresh .sidebarList_c48ade {
  background: rgba(0,0,0,0.6);
  border-top: var(--border-1px)  !important;
  border-bottom: var(--border-1px)  !important;
  border-right: var(--border-1px)  !important;
  border-radius:0;
}

/* SERVER LIST */
.visual-refresh .guilds_c48ade {
  background: rgba(0,0,0,0.2);
  border-radius: 0px;
  border-bottom: var(--border-1px) !important;
  border-left: var(--border-1px) !important;
}

/* USER PANEL */
/* Transparent user panel 
.visual-refresh .panels_c48ade {
  background: rgba(0,0,0,0.6) !important;
  backdrop-filter: var(--card-shading) !important;
  border-radius: 0px;
  border-top: var(--border-1px);
  border-right: var(--border-1px);
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Activity panel border 
.visual-refresh .panel__5dec7 {
  border-bottom: var(--border-1px);
}

/* Voice chat panel border 
.wrapper_e131a9 {
  border-bottom: 1px solid rgba(119, 174, 236, 0);
}
