/* BETTER TYPING AREA */
.typing_b88801 {
  top: calc(0px - var(--space-24));
  left: 0 !important;
  padding-left: var(--space-16);
  background: none;
}

.visual-refresh .channelTextArea__74017 {
  border: 2px solid var(--gradient-color1);
  background: var(--card-shading);
  margin-bottom: var(--space-xs);
  border-radius: 30px;
}

.visual-refresh .channelTextArea__74017:focus-within {
  border: 2px solid var(--gradient-color2);
}

/* GRADIENT SELECTED DMS AND SERVER CHANNELS 
.privateChannels__35e86 .channel__972a0 .interactive__972a0.interactiveSelected__972a0:before,
.wrapper__2ea32.modeSelected__2ea32 {
  background: linear-gradient(130deg, var(--gradient-color1), var(--gradient-color2)) !important;
  border-radius: 5px;
}*/

/* CUSTOMISE PANEL DARKNESS AND BORDERS */


/* SERVER LIST */
.visual-refresh .guilds_c48ade {
  background: rgba(0, 0, 0, var(--server-darkness));
  border-radius: 0px;
}

/* DMS AND SERVER CHANNELS PANEL */
.visual-refresh .sidebarList_c48ade {
  background: rgba(0, 0, 0, var(--channels-darkness));
  border-radius:0;
}

/* USER PANEL */
/* Transparent user panel */
.visual-refresh .panels_c48ade {
  background: rgba(0, 0, 0, var(--userpanel-darkness)) !important;
  backdrop-filter: var(--card-shading) !important;
  border-radius: 0px;
  border: none;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Activity panel border */
.visual-refresh .panel__5dec7 {
  border-bottom: none;
}

/* Voice chat panel border */
.wrapper_e131a9 {
  border-bottom: none;
}

/* MAIN CHAT AREA */
.visual-refresh .page_c48ade {
    background: rgba(0, 0, 0, var(--chat-darkness));
    border-radius: 0px;
}

/* CHANNEL BAR */
.container__9293f {
  background: rgba(0, 0, 0, var(--channelbar-darkness)) !important;
}

/* MEMBER LIST */
.visual-refresh .container_c8ffbb {
  background: rgba(0, 0, 0, var(--memberlist-darkness))
}

/* USER PROFILE POPOUT IN DMS */
.outer_c0bea0 {
  background: rgba(0, 0, 0, var(--profile-darkness)) !important;
}

/* FRIENDS PAGE ACTIVITY PANEL */
.nowPlayingColumn__133bf {
  background: rgba(0, 0, 0, var(--activity-darkness));
}

/* WINDOWS TOP BAR */
.title_c38106 {
  background: rgba(0, 0, 0, var(--topbar-darkness));
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  height: 22px;
}

/* CHANGE DISCORD INBUILT BORDER COLOURS */
:is(.theme-light,.theme-dark,.theme-darker,.theme-midnight), :is(.theme-light,.theme-dark,.theme-darker,.theme-midnight):is(.theme-light,.theme-dark) {
  --border-faint: rgba(167, 167, 167, 0);
  --border-strong: rgba(167, 167, 167, 0);
  --border-subtle: rgba(167, 167, 167, 0);
}

/* HOME ICON SELECTED AND UNREAD DM INDICATOR BROKEN WITH HORIZONTAL SERVER LIST */
.wrapper_ef3116 .pill__1f388, .wrapper_ef3116 .pill__66ac8, .wrapper_ef3116 .pill_ed9a5f {
  display: none;
}

/* REMOVE CLEARVISION WATERMARK */
.leading_c38106::before, .leading_c38106::after {
  display: none;
}

/* REMOVE TOP BAR LOCATION INDICATOR */
.visual-refresh .title__85643 {
  display: none;
}

/* MAKE DIVIDER BETWEEN DMS AND SERVERS + DMS LIST AND BUTTONS MORE VISIBLE */
.visual-refresh .sectionDivider__35e86, .wrapper_ef3116 .guildSeparator__252b6 {
  background: rgba(255, 255, 255, 0.5);
}