/* CLEARVISION-AKI */
/* USER PANEL */
/* Transparent user panel */
.visual-refresh .panels_c48ade {
  background: rgba(0,0,0,0.6) !important;
  backdrop-filter: var(--card-shading) !important;
  border-radius: 0px;
  border-top: var(--border-1px);
  border-right: var(--border-1px);
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Activity panel border */
.visual-refresh .panel__5dec7 {
  border-bottom: var(--border-1px);
}

/* Voice chat button */
.visual-refresh .button_e131a9.buttonColor_e131a9.buttonColor_e131a9 {
  background: rgba(255, 255, 255, 0.089);
}

/* In voice chat streaming button */
.visual-refresh .button_e131a9.buttonColor_e131a9.buttonActive_e131a9 {
  background: hsl(from var(--success-color) h s l / 0.4);
  color: var(--button-secondary-text);
  border-color: hsl(from var(--success-color) h s l / 0.5);
}

/* Username in chat */
.username_c19a55 {
    font-weight: 900;
}

/* Usernames in servers */
.username__5d473 {
  font-size: 15px;
  font-weight: 600;
}


/* TEXTAREA UNDERLINE */

.channelTextArea__74017 {
  background: var(--background-color, rgba(0, 0, 0, 0.6));
  transition: all 0.15s ease-in-out;
}

.channelTextArea__74017:focus-within {
  box-shadow: none;
}

.channelTextArea__74017:after {
  display: block;
  content: '';
  border-bottom: 2px solid var(--textarea-highlight);
  opacity: 0.5;
  transform: scaleX(0);
  transition: all 0.2s linear 0s;
  margin-left: 4px;
  margin-right: 4px;
}

.channelTextArea__74017:hover:after {
  opacity: 0.5;
  transform: scaleX(0.5);
}

.channelTextArea__74017:focus-within:after {
  opacity: 1;
  transform: scaleX(0.8);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.channelAppLauncher_e6e74f button {
  width: 50px;
  height: 50px;
}