/*FANCY MENTION/REPLY GRADIENT COLORS*/
/*By: Burning Stone IN VENCORD SERVER*/
.mentioned__5126c {
    position: relative; /* Needed for z-index layering to work properly */
    background: none !important; /* removes Discord's default background */
    box-shadow: none !important; /* removes glow effect if any */
    border: none !important;
    border-radius: 4px;
}

.mentioned__5126c:before {
  background: #ffffff;
}

.mentioned__5126c::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(to right, var(--gradient-color1), var(--gradient-color2));
    z-index: -1;
    opacity: .5;
    border-radius: 4px;
}

.replying__5126c {
    position: relative; /* Needed for z-index layering to work properly */
    background: none !important; /* removes Discord's default background */
    box-shadow: none !important; /* removes glow effect if any */
    border: none !important;
    border-radius: 4px;
}

.replying__5126c::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(to right, var(--gradient-color1), var(--gradient-color2));
    z-index: -1;
    opacity: .3;
    border-radius: 4px;
    pointer-events: none;
}

.backgroundFlash__5126c {
    background: none !important;
    box-shadow: none !important;
    position: relative;
}


.backgroundFlash__5126c[data-flash="true"]::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, var(--gradient-color1), var(--gradient-color2));
    opacity: 0;
    border-radius: 4px;
    z-index: -1;
    pointer-events: none;
    animation: fadeInHighlight .15s ease-out forwards;
}


.backgroundFlash__5126c[data-flash="false"]::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, var(--gradient-color1), var(--gradient-color2));
    opacity: 0.3;
    border-radius: 4px;
    z-index: -1;
    pointer-events: none;
    animation: fadeOutHighlight .15s ease-out forwards;
}


@keyframes fadeInHighlight {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.3;
    }
}


@keyframes fadeOutHighlight {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 0;
    }
}

/* MESSAGE HOVER GRADIENT */
/* BY DOM IN VENCORD SERVER */
.message__5126c:hover {
    background: linear-gradient(to right, var(--gradient-color1-alpha), var(--gradient-color2-alpha)) !important;
}

/* RESTORES SERVER ICONS TO BEING CIRCULAR */
/* BY UNKNOWN IN UNKNOWN */
.wrapper__6e9f8 {
  border-radius: 100%;
  overflow: hidden;
}

/* REALIGNS SERVER FOLDER ICONS */
.folderHeader__48112 {
  height: calc(1px * var(--guildsize_v)) !important;
  width: calc(1px * var(--guildsize_v)) !important;
}

/* Transparent Folders Left */
/* BY UNKNOWN IN UNKNOWN */
.folderPreview__48112 {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  height: calc(var(--guildbar-folder-size) - var(--custom-folder-preview-padding)* 2);
  width: calc(var(--guildbar-folder-size) - var(--custom-folder-preview-padding)* 2);
  align-items: center;
  justify-content: center;
}
.expandedFolderIconWrapper__48112 > svg:has(>path[d="M2 5a3 3 0 0 1 3-3h3.93a2 2 0 0 1 1.66.9L12 5h7a3 3 0 0 1 3 3v11a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5Z"]) {
    scale: 10;
}
.expandedFolderIconWrapper__48112::after,
.folderPreview__48112::after {
    content: "";
    background-color: #ffffff;
    width: 24px;
    height: 24px;
    position: absolute;
    clip-path: path("M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z");
}
.folderPreview__48112 > .folderPreviewGuildIcon__48112 {
    opacity: 1;
    filter: blur(1px);
}
.theme-dark .hiddenVisually__27f77[aria-expanded="false"] {
    background-color: #000000;
}
.theme-light .hiddenVisually__27f77[aria-expanded="false"] {
    background-color: #747474;
}


/* SUPER CLEAN USER PANEL */
/* BY DUNESCIFYE IN CLEARVISION SERVER */
/* Readjusting size of the user profile panel at the bottom left */
.guilds_c48ade {
  --custom-app-panels-height: 0px !important;
}
/* Makes vc buttons stay visible when it's super scaled down */
.lookFilled__201d5 .contents__201d5 {
  overflow: visible;
}
/* Removes the background of vc buttons */
.visual-refresh .button_e131a9.buttonColor_e131a9 {
  background: none;
}
/* Makes various vc and profile buttons closer together to save space */
.visual-refresh button.button__67645 {
  margin: 0;
}
/* Makes the Noise Supression and Disconnect buttons vertically aligned */
.horizontal__7c0ba>.flex__7c0ba:last-child {
  flex-direction: column !important;
  margin-left: 0;
  gap: 0;
}
/* Make the whole box smaller and fit more */
.visual-refresh .container_e131a9 {
  gap: 0;
  margin: 0;
}
.container_e131a9 {
  padding: 0;
}

/* COLLAPSE CLAN TAGS TO ICON (WITH PAZAZZ) // BY ERROR IN VENCORD SERVER */

[class^="chipletContainerInner_"] > span > .unselectable__10651 {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
  will-change: max-width, margin;
  transition: max-width 0.7s cubic-bezier(0.34, 1.56, 0.64, 1), 
              margin 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
}

[class^="chipletContainerInner_"]:hover > span > .unselectable__10651 {
  max-width: 20ch;
  margin-right: .3ch;
  /* Prevents it from triggering if you just quickly mouseover :D */
  transition-delay: 0.08s;
}

[class^="chipletContainerInner_"] > span > img.badge__10651 {
  margin-right: 0;
  transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1), 
              margin 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
}

[class^="chipletContainerInner_"]:hover > span > img.badge__10651 {
  transform: rotateZ(360deg);
  margin-right: .6ch;
  /* Same as above transition delay */
  transition-delay: 0.08s;
}

[class^="chipletContainerInner_"] {
  position: relative;
}

[class^="chipletContainerInner_"]::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  pointer-events: none;
}


/* SCROLLABLE/COMPACT CODEBLOCKS // BY BALD IN VENCORD SERVER */

:root {
  --codeblock-height: 200px;
}
.codeContainer__75297 > code {
  max-height: var(--codeblock-height);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
    &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb {
     visibility: hidden; 
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--scrollbar-thin-thumb);
    border: 2px solid transparent;
    border-radius: 4px;
    min-height: 40px;
  }
  &:hover::-webkit-scrollbar-track, &:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-thin-track);
    border: 2px solid var(--scrollbar-thin-track);
    border-color: var(--scrollbar-thin-track);
  }
}

/* DETAILED TIMESTAMPS // BY KREKEVYKS.JS IN VENCORD SERVER */

span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}

span[class*="timestampInline_"] {
  font-size: 0px !important;
}

/* status based activity icon  // BY DER TRAUDEL IN VENCORD SERVER */
[class^=memberInner]:has(> div > [aria-label*="Online"]) [class^=subText] svg>path[fill="#43a25a"] {
    fill: #43b581;
}

[class^=memberInner]:has(> div > [aria-label*="Idle"]) [class^=subText] svg>path[fill="#43a25a"] {
    fill: #f0b232;
}

[class^=memberInner]:has(> div > [aria-label*="Do Not Disturb"]) [class^=subText] svg>path[fill="#43a25a"] {
    fill: #f23f43;
}

[class^=memberInner]:has(> div > [aria-label*=Streaming]) [class^=subText] svg>path[fill="#43a25a"] {
    fill: #643da7;
}

/* ANIMATED CHANNEL HOVER // BY REFACT0R IN VENCORD SERVER */

:root {
    --list-item-transition: 0.2s ease;
}
.wrapper__2ea32 .link__2ea32 {
    transition: margin-left var(--list-item-transition);
}
.wrapper__2ea32:hover .link__2ea32 {
    margin-left: 10px;
}
.unread__2ea32 {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    transition: var(--list-item-transition);
}

/* New Voice Chat Version  // BY AKI IN CLEARVISION SERVER */
.content__07f91:has(.usernameSpeaking__07f91, .avatarSpeaking__07f91) {
    background: linear-gradient(to right, var(--hover-color), #4a91e200);
    padding-top: 4px;
    padding-bottom: 4px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: background 1s ease, box-shadow 0.05s ease;
}

.usernameSpeaking__07f91 {
    font-weight: 550;
}

.avatarSpeaking__07f91 {
    box-shadow: none;
}


/* Remove all except friends // BY AKI IN CLEARVISION SERVER */
:where(.visual-refresh) .channel__972a0:not(.dm__972a0) .link__972a0:not([href="/channels/@me"]):not([href="/message-requests"]) {
    display: none;
}

/* ANIMATED DM AND CHANNEL HOVER // BY REFACT0R IN VENCORD SERVER */

:root {
    --list-item-transition: 0.2s ease;
}
.wrapper__2ea32 .link__2ea32, .channel__972a0 {
    transition: margin-left var(--list-item-transition);
}

.wrapper__2ea32:hover .link__2ea32, .channel__972a0:hover {
  margin-left: 17px;
}

.unread__2ea32 {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    transition: var(--list-item-transition);
}