/**
 * @name ClearVision-Henessey-Personal
 * @author HenesseyDriftCar
 * @version 1.0.0
 * @description Clearvision, with extra CSS thrown in to my personal taste (BetterDiscord version)
 * @source https://github.com/HenesseyDriftCar/Discord-Custom-CSS
 * @website https://henesseydriftcar.github.io/Discord-Custom-CSS/
*/

/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://clearvision.github.io/ClearVision-v7/main.css");
@import url("https://clearvision.github.io/ClearVision-v7/betterdiscord.css");
@import url("https://discordstyles.github.io/RadialStatus/RadialStatus.css");
@import url("https://discordstyles.github.io/HorizontalServerList/HorizontalServerList.css");
/*@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css");*/
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");
@import url("https://henesseydriftcar.github.io/Discord-Custom-CSS/Overhaul/Panels.css");
@import url("https://henesseydriftcar.github.io/Discord-Custom-CSS/Overhaul/Selections_Highlights.css");
@import url("https://henesseydriftcar.github.io/Discord-Custom-CSS/Overhaul/Animations.css");
@import url("https://henesseydriftcar.github.io/Discord-Custom-CSS/Overhaul/Fancy_Extras.css");
@import url("https://henesseydriftcar.github.io/Discord-Custom-CSS/Overhaul/Small_Tweaks.css");
@import url("https://henesseydriftcar.github.io/Discord-Custom-CSS/Overhaul/No_Searchbar.css");
/*@import url("https://henesseydriftcar.github.io/Discord-Custom-CSS/Overhaul/Friends_Only.css");*/

/* SETTINGS */
:root {
    /* ACCENT COLORS */
    --main-color: rgb(39, 128, 230);
    --hover-color: rgb(30, 98, 175);
    --success-color: hsl(106, 100%, 50%);
    --danger-color: hsl(0, 75%, 46%);
    /* STATUS COLORS */
    --online-color: hsl(106, 100%, 50%);
    --idle-color: hsl(41, 100%, 50%);
    --dnd-color: hsl(0, 75%, 46%);
    --streaming-color: hsl(278, 100%, 43%);
    --offline-color: #000000;
    /* APP BACKGROUND */
    --background-shading-percent: 0%;
    --background-image: url(https://i.imgur.com/dZY9dI6.jpeg);
    --background-attachment: fixed;
    --background-filter: blur(2px);
    /* USER POPOUT BACKGROUND */
    --user-popout-image: url(https://i.imgur.com/IjeWmZX.jpeg);
    --user-popout-attachment: var(--background-attachment);
    --user-popout-filter: var(--background-filter);
    /* USER MODAL BACKGROUND */
    --user-modal-image: var(--background-image);
    --user-modal-attachment: var(--background-attachment);
    --user-modal-filter: var(--background-filter);
    /* PANEL TRANSPARENCY */
    --server-darkness: rgba(0, 0, 0, 0.5); /* Server list transparency */
    --channels-darkness: rgba(0, 0, 0, 0.4); /* Channels and DMs transparency */
    --userpanel-darkness: rgba(0, 0, 0, 0.7); /* User panel transparency */
    --chat-darkness: rgba(0, 0, 0, 0.1); /* Chat panel transparency */
    --memberlist-darkness: rgba(0, 0, 0, 0.3); /* Member list transparency */
    --profile-darkness: rgba(0, 0, 0, 0.3); /* Profile popout in DMs transparency */
    --textarea-darkness: rgba(0, 0, 0, 0.5); /* Transparency of typing area */
    --activity-darkness: rgba(0, 0, 0, 0.3); /* Activity column on friends page transparency */
    --friendsbar-darkness: rgba(0, 0, 0, 0.4); /* Darkness of the bar at the top of friends page */
    --chatbar-darkness: rgba(0, 0, 0, 0.4); /* Darkness of the bar at the top of the chat area */
    --topbar-darkness: rgba(0, 0, 0, 0.6); /* Top bar transparency */
    /* HOME ICON */
    --home-icon: url(https://i.imgur.com/jTuagxP.png); /* Change to the image link of your choice of home icon */
    --home-size: cover; /* home button icon size (px) [default:cover] */
    /* CHANNEL COLORS */
    --channel-normal: var(--interactive-normal); /* channel text color [default: var(--interactive-normal)] */
    --channel-muted: var(--interactive-muted); /* muted channel text color [default: var(--interactive-muted)] */
    --channel-hover: var(--interactive-hover); /* hovered channel text color [default: var(--interactive-hover)] */
    --channel-selected: var(--interactive-active); /* selected channel text color [default: var(--interactive-active)] */
    --channel-selected-bg: var(--main-color); /* selected channel background [default: var(--main-color)] */
    --channel-unread: var(--main-color); /* unread channel text color [default: var(--main-color)] */
    --channel-unread-hover: var(--hover-color); /* unread channel hover color [default: var(--hover-color)] */
    /* ACCESSIBILITY */
    --focus-color: var(--main-color); /* outline when pressing TAB key [default: var(--main-color)] */
    /* FONTS */
    --main-font: "Inter", Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --code-font: Consolas, "gg mono", "Liberation Mono", Menlo, Courier, monospace;
    /* TEXTAREA */
    --textarea-highlight: rgb(255, 255, 255); /* Set to none to disable */
    /* PANEL BORDER */
    --border: 1px solid rgba(0, 0, 0, 1); /* The border between panels. Change to none or change alpha to 0 to remove */
    /* RADIAL STATUS */
    --rs-small-spacing: 0px; /* Gap between avatar and status for members list/dms | MUST end in px */
    --rs-medium-spacing: 0px; /* Gap between avatar and status for User popout | MUST end in px */
    --rs-large-spacing: 0px; /* Gap between avatar and status for User profiles | MUST end in px */
    --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
    --rs-medium-width: 2px; /* Thickness of status border for User popout | MUST end in px */
    --rs-large-width: 2px; /* Thickness of status border for User profile | MUST end in px */
    --rs-avatar-shape: 50%; /* 50% for round - 0% for square */
    --rs-online-color: hsl(123, 100%, 44%); /* Colour for online status */
    --rs-idle-color: hsl(41, 100%, 50%); /* Colour for idle status */
    --rs-dnd-color: hsl(0, 75%, 46%); /* Colour for dnd status */
    --rs-offline-color: #000000; /* Colour for offline status */
    --rs-streaming-color: hsl(278, 100%, 43%); /* Colour for streaming status */
    --rs-invisible-color: #000000; /* Colour for invisible status - Note: this will only show for your own invisibility */
    --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */
    --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
    /* SERVERCOLUMNS */
    --columns:		1;	/* default: 3	(amount of servercolumns) */
    --guildsize:	70;	/* default: 50	(serversize in pixel) */
    --guildgap:		3;	/* default: 3	(top/bottom gap between servers in pixel) */
    --aligndms:		1;	/* default: 0	(should DMs be aligned in columns: 0 = no, 1 = yes)	*/
    /* HORIZONTAL SERVERLIST */  
    --HSL-server-direction: column; /* Direction of the server list. | OPTIONS: column, column-reverse | DEFAULT: column */
    --HSL-server-alignment: flex-start; /* Alignment of the server list. | OPTIONS: flex-start, center, flex-end | DEFAULT: flex-start */	  
    /* SETTINGS MODAL */
    --settingswidth: 960; /* default:	960px (width of the settings modal, px)	*/
    --settingsheight: 80;	/* default:	80vh (height of the settings modal, vh)	*/
    --settingsbackground: transparent;  /* default:	transparent	lowest BG Color of changed Windows, change it in case another Theme turns them transparent)	*/
  }
  
  /* THEME SPECIFIC SHADING */
  /* LIGHT THEME */
  :is(.theme-light, .theme-dark .theme-light) {
    --background-shading: rgba(252, 252, 252, 0.3);
    --card-shading: rgba(252, 252, 252, 0.3);
    --popout-shading: rgba(252, 252, 252, 0.7);
    --modal-shading: rgba(252, 252, 252, 0.5);
    --input-shading: rgba(0, 0, 0, 0.3);
    --normal-text: #36363c;
    --muted-text: #75757e;
  }
  
  /* ASH THEME */
  :is(.theme-dark, .theme-light .theme-dark) {
    --background-shading: rgba(0, 0, 0, 0.1);
    --card-shading: rgba(0, 0, 0, 0.1);
    --popout-shading: rgba(0, 0, 0, 0.1);
    --modal-shading: rgba(0, 0, 0, 0.3);
    --input-shading: rgba(255, 255, 255, 0.05);
    --normal-text: #d8d8db;
    --muted-text: #aeaeb4;
  }
  
  /* DARK THEME */
  :is(.theme-darker, .theme-light .theme-darker) {
    --background-shading: rgba(0, 0, 0, 0.75);
    --card-shading: rgba(0, 0, 0, 0.3);
    --popout-shading: rgba(0, 0, 0, 0.7);
    --modal-shading: rgba(0, 0, 0, 0.5);
    --input-shading: rgba(255, 255, 255, 0.05);
    --normal-text: #fbfbfb;
    --muted-text: #94949c;
  }
  
  /* ONYX THEME */
  :is(.theme-midnight, .theme-light .theme-midnight) {
    --background-shading: rgba(0, 0, 0, 0.8);
    --card-shading: rgba(0, 0, 0, 0.4);
    --popout-shading: rgba(0, 0, 0, 0.8);
    --modal-shading: rgba(0, 0, 0, 0.6);
    --input-shading: rgba(255, 255, 255, 0.05);
    --normal-text: #dcdcde;
    --muted-text: #86868e;
  }