/* Selected channel */
.wrapper__2ea32.modeSelected__2ea32 .link__2ea32::before {
    background: linear-gradient(to right, var(--hsl-main-color) , transparent);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* Selected Interactive in DM */
.visual-refresh .interactive__972a0.interactiveSelected__972a0::before {
    background: linear-gradient(to right, var(--hsl-main-color), transparent);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* Makes hover highlight match selected highlight shape */
.visual-refresh .interactive__972a0, .wrapper__2ea32 .link__2ea32, .channel__972a0 {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

/* New Voice Chat Version */
.content__07f91:has(.usernameSpeaking__07f91, .avatarSpeaking__07f91) {
    background: linear-gradient(to right, var(--hsl-main-color), transparent);
    padding-top: 4px;
    padding-bottom: 4px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: background 1s ease;
}

.usernameSpeaking__07f91 {
    font-weight: 550;
}

.avatarSpeaking__07f91 {
    box-shadow: none;
}

/*FANCY MENTION/REPLY GRADIENT COLORS*/
/*By: Burning Stone IN VENCORD SERVER*/
.mentioned__5126c {
    position: relative; /* Needed for z-index layering to work properly */
    background: none !important; /* removes Discord's default background */
    box-shadow: none !important; /* removes glow effect if any */
    border: none !important;
    border-radius: 4px;
}

.mentioned__5126c:before {
  background: #ffffff;
}

.mentioned__5126c::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(to right, var(--hsl-main-color) -40%, transparent 160%);
    z-index: -1;
    opacity: .5;
    border-radius: 4px;
}

.replying__5126c {
    position: relative; /* Needed for z-index layering to work properly */
    background: none !important; /* removes Discord's default background */
    box-shadow: none !important; /* removes glow effect if any */
    border: none !important;
    border-radius: 4px;
}

.replying__5126c::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(to right, var(--hsl-main-color) -40%, transparent 160%);
    z-index: -1;
    opacity: .3;
    border-radius: 4px;
    pointer-events: none;
}

.backgroundFlash__5126c {
    background: none !important;
    box-shadow: none !important;
    position: relative;
}


.backgroundFlash__5126c[data-flash="true"]::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, var(--hsl-main-color) -40%, transparent 160%);
    opacity: 0;
    border-radius: 4px;
    z-index: -1;
    pointer-events: none;
    animation: fadeInHighlight .15s ease-out forwards;
}


.backgroundFlash__5126c[data-flash="false"]::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, var(--hsl-main-color) -40%, transparent 160%);
    opacity: 0.3;
    border-radius: 4px;
    z-index: -1;
    pointer-events: none;
    animation: fadeOutHighlight .15s ease-out forwards;
}


@keyframes fadeInHighlight {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.3;
    }
}


@keyframes fadeOutHighlight {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 0;
    }
}

/* MESSAGE HOVER GRADIENT */
/* BY DOM IN VENCORD SERVER */
.message__5126c:hover {
    background: linear-gradient(to right, var(--hsl-main-color) -80%, transparent 140%) !important;
}

/* Memberlist */
/* Selected user with role color */
.nameContainer__703b9[style^="color:"]:after {
    background: linear-gradient(to right, currentColor, transparent) !important;
}

/* Selected user with no role color */
.nameContainer__703b9:after {
    background: linear-gradient(to right, var(--hsl-main-color), transparent) !important;
}

/* Selected user with gradient color */
.nameContainer__703b9:has(.threeColorGradient_e5de78):after,
.nameContainer__703b9:has(.twoColorGradient_e5de78):after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), transparent) !important;
}

/* Hover blur */
/* Friend in friend list */
.full-motion.visual-refresh .peopleListItem_cc6179:hover {
    backdrop-filter: var(--hover-blur);
}

/* Message */
.message__5126c:hover {
    background: linear-gradient(to right, var(--hsl-main-color) -80%, transparent 140%) !important;
    backdrop-filter: var(--hover-blur);
}

/* DM list and channel */
.wrapper__2ea32:hover .link__2ea32, .channel__972a0:hover {
  backdrop-filter: var(--hover-blur);
}
